# 새벽에 하는 pandas

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame({'name' : ['철강왕','이미지왕','소리왕', '농사왕','데이터왕'],
                    '지분': [10, 20, 30, 40, 50],
                    '왕이될상': ['yes', 'no', 'yes', 'no', 'yes']
                    },  columns= ['name','지분', '왕이될상'])

In [6]:
df

   name  지분 왕이될상
0   철강왕  10  yes
1  이미지왕  20   no
2   소리왕  30  yes
3   농사왕  40   no
4  데이터왕  50  yes

# Q1:BOAZ 시리즈중에서 왕이될 상이면서 and 지분이 30이 넘는 후보를 구하세요.

In [10]:
df[(df["왕이될상"]=="yes") & (df["지분"]>30)]

   name  지분 왕이될상
4  데이터왕  50  yes

# Q2: 데이터의 row 수, column수, 정보, 일괄통계를 알아보세요

In [21]:
print("row",len(df.index))
print("column", len(df.columns))
df.info()
df.describe()

row 5
column 3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
name    5 non-null object
지분      5 non-null int64
왕이될상    5 non-null object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

              지분
count   5.000000
mean   30.000000
std    15.811388
min    10.000000
25%    20.000000
50%    30.000000
75%    40.000000
max    50.000000